[submodule "3rd-party/cpr"]
	path = 3rd-party/cpr
	url = git@github.com:whoshuu/cpr.git
[submodule "3rd-party/rapidjson"]
	path = 3rd-party/rapidjson
	url = git@github.com:miloyip/rapidjson.git
[submodule "3rd-party/easyloggingpp"]
	path = 3rd-party/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp
